<a href="https://colab.research.google.com/github/Pulsar-kkaturi/DL-Education/blob/master/Python_Basic/python_basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초문법 1 - 데이터 다루기

In [15]:
print('hello world')

hello world

In [16]:
# 이거는 주석이라 안 나옵니다.
print('이거는 나옴ㅋ')

이거는 나옴ㅋ

## 1. 사칙연산

In [17]:
1 + 2

3

In [5]:
3 - 1

2

In [6]:
5 * 5

25

In [7]:
10/2

5.0

**[사칙연산 기호]**
* 더하기: +
* 빼기: -
* 곱하기: *
* 나누기: /

In [8]:
3142134798 * 11234012

35298780026349576

In [9]:
34242/123

278.390243902439

In [4]:
(1 + 2 * 3 - 4) / 5

0.6

[제곱은 **로 나타냅니다.]
* 제곱: **

In [ ]:
2 ** 8

256

**[나누기의 종류]**
* 나누기: /
* 나눗셈의 몫 구하기: //
* 나눗셈의 나머지 구하기: %

In [10]:
11/2

5.5

In [11]:
11//2

5

In [12]:
11%2

1

## 2. 변수

* 알파벳을 사용하여 변수 선언

In [ ]:
x = 1
y = 1/3
x + y

1.3333333333333333

* 변수명에는 알파벳, 숫자 밑줄(_) 등을 사용할 수 있습니다.
* 첫글자에는 숫자 사용 금지!

In [ ]:
Data_1 = 1/5
Data_2 = 3/5
Data_1 + Data_2

0.8

## 3. 자료형

**[변수의 자료형]**
* int / 정수 / 1,2,3,,,
* float / 실수 / 1.1, -1,,,
* str / 문자열 / 'hello'
* bool / 참과 거짓 / True, False
* list / 배열 / \[1,2,3\]
* tuple / 배열(수정 불가) / (1,2,3)
* ndarray / 행렬 / np.array(\[1,2,3\])

In [6]:
# type으로 자료형을 알아볼 수 있다.
type(100)

int

In [7]:
type(100.1)

float

In [8]:
x = 'learning'
type(x)

str

## 4. print 문

* 주피터 노트북이 아닌 일반적인 코딩에서는 print 문을 적어야만 출력이 된다.

In [10]:
# print 문을 사용하지 않으면, 가장 마지막 열만 출력된다.
x = 1/3
x
y = 2/3
y

0.6666666666666666

In [11]:
# 출력하고 싶은 변수가 있다면 반드시 모두 print 문으로 실행
x = 1/3
print(x)
y = 2/3
print(y)

0.3333333333333333
0.6666666666666666

In [12]:
# 문자열을 숫자와 함께 출력하고 싶을 때
print('x = ', str(x))

x =  0.3333333333333333

In [15]:
# 문자열을 숫자와 함께 출력하고 싶을 때
print('weight = {} kg'.format(x))

weight = 0.3333333333333333 kg

In [16]:
# 여러 문자열을 동시에 출력하고 싶을 때
print('x = {}, y = {}'.format(x, y))

x = 0.3333333333333333, y = 0.6666666666666666

## 5. List

* 여러 데이터를 하나의 단위로 묶어서 표현하고 싶을때는 대괄호 \[, \]로 묶어줍니다.

In [17]:
x = [1, 2, 3, 4, 5]
print(x)

[1, 2, 3, 4, 5]

In [18]:
# 리스트 안에서 특정 요소만 뽑고 싶을 때
print(x[0], x[2])

1 3

In [19]:
# 리스트의 자료형 확인
print(type(x))
print(type(x[0]))

<class 'list'>
<class 'int'>

In [22]:
# 2차원 배열의 리스트
a = [[1,2,3], [4,5,6]]
print(a)
print(a[0][1])

[[1, 2, 3], [4, 5, 6]]
2

In [24]:
# 리스트 내에 요소 수정
x = [1,1,3,4,6]
x[3] = 100
print(x)

[1, 1, 3, 100, 6]

In [25]:
# 리스트의 길이
len(x)

5

In [26]:
# 연속된 정수의 배열 만들기
y = range(5, 10)
print(y[0], y[1], y[2], y[3], y[4])

5 6 7 8 9

## 6. Tuple

* 튜플은 리스트와 달리 요소 수정이 불가능합니다!

In [28]:
a = (1, 2, 3)
print(a)
type(a)

(1, 2, 3)

tuple