<a href="https://colab.research.google.com/github/Pulsar-kkaturi/DL-Education/blob/master/Python_Lecture/Lecture04_Python-Basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 4. 파이썬 프로그래밍 기초 1. 자료형: 숫자와 문자

## 1. 숫자형

### 1.1. 자료형 (정수)

In [ ]:
a = 10
b = 3

In [ ]:
a + b

In [ ]:
a * b

In [ ]:
a - b

In [ ]:
a / b

### 1.2. 자료형 (실수)

In [ ]:
a = 1.2
b = -3.45

In [ ]:
a + b

In [ ]:
a - b

In [ ]:
a * b

In [ ]:
a/b

In [ ]:
c = 3.456e20

In [ ]:
c

### 1.3. 사칙연산

* 더하기: +
* 빼기: -
* 곱하기: *
* 제곱: **
* 나누기: /
* 몫 나눗셈: //
* 나머지 나눗셈: %

In [ ]:
a = 2
b = 3

In [ ]:
a ** b

In [ ]:
a = 5
b = 3
a/b

In [ ]:
a//b

In [ ]:
a%b

### Quiz. 
x = 17일때,

3X<sup>3</sup>-5X<sup>2</sup>+11X+1 
의 값을 구하시오.

In [ ]:
x = 17
3*x**3-5*x**2+11*x+1

## 2. 문자열

### 2.1. 문자열 만들기

In [ ]:
# 주석 처리
print("파이썬")
print('한국 축구 화이팅!')

In [ ]:
a = 112412341234
b = '연성대학교 보건의료행정과'
print(a, b)

In [ ]:
news = """ 
위르겐 클린스만 감독이 28일 오후 8시 서울월드컵경기자에서 열리는 우루과이와의 친선경기에 앞서 베스트11을 공개했다.

클린스만 감독은 24일 콜롬비아와의 데뷔전에서 2대2로 비겼다. 우루과이전의 화두는 첫 승이다.

원톱에는 황의조(서울)가 포진하는 가운데 2선에는 이강인 손흥민(토트넘) 이재성(마인츠)이 선다. 수비형 미드필더에는 황인범(올림피아코스)과 정우영(알 사드)이 짝을 이룬다.
""" # 문단을 문자열로 만들고 싶을때는 따옴표를 세번 쓰자
print(news)

학생들이 말했다. "빨리 끝내고 축구 보여주세요"

In [ ]:
student = '학생들이 말했다. \n "빨리 끝내고 축구 보여주세요"'
print(student)

In [ ]:
student = '학생들이 말했다. \'빨리 끝내고 축구 봐요\''
print(student)

### 2.2. 문자열 연산하기

In [ ]:
# 문자열 더하기
a = "연성대학교"
b = "보건의료행정과"
c = " "
print(a+c+b)

In [ ]:
# 문자열 곱하기
a = "!!"
print("댕댕이 너무 귀여워", a*3000)

In [ ]:
print("=" * 50)
print("My Program")
print("=" * 50)

In [ ]:
# 문자열 길이 구하기
a = "안녕하세요"
print(len(a))
print(len(news))

### 2.3. 문자열의 인덱싱과 슬라이싱

In [ ]:
a = "Life is too short, You need Python"
print(a)

In [ ]:
# 문자열 인덱싱
print(a[3])
print(a[4])

In [ ]:
# 문자열 인덱싱 (역순)
print(a[-1], a[-6])

In [ ]:
# 문자열 슬라이싱 
print(a[:4]) # 0은 생략 가능!
print(a[5:7])

In [ ]:
# 문자열 슬라이싱 (역순)
print(a[-6:])
print(a[-11:-7])

In [ ]:
print(a)
print(a[:])

In [ ]:
# 슬라이싱으로 문자열 나누기
a = "2023111222손흥민"
number = a[:10]
name = a[-3:]
print(number)
print(name)

In [ ]:
# 슬라이싱으로 문자열 나누기2
a = "2023111222손흥민"
입학연도 = a[:4]
학과코드 = a[4:7]
학생코드 = a[-6:-3]
학생이름 = a[-3:]
print(입학연도, 학과코드, 학생코드, 학생이름)

In [ ]:
# 문자열 수정
a = "2023111222손흥미"
print(a[-1])
a[-1] = '민'
print(a)

### 2.4. 문자열 포매팅

**포맷 코드**
* %d: 정수 삽입 (1, 11, 524. ...)
* %s: 문자열 삽입 ('hello', "안녕하세요", ...)
* %f: 실수 삽입 (0.12, -5.14, ...)

In [ ]:
a = '우리반 총 인원 수는 25명 입니다.'
print(a)

In [ ]:
a = '우리반 총 인원 수는 %d명 입니다.' % 25
print(a)

In [ ]:
a = '%d년도 보건의료행정과 %d학년 총 인원 수는 %d명 입니다.' %(2023, 4, 25)
print(a)

In [ ]:
year = 2023
grade = 4
number = 25
a = '%d년도 보건의료행정과 %d학년 총 인원 수는 %d명 입니다.' %(year, grade, number)
print(a)

In [ ]:
year = 2023
grade = 4
number = 25
prof = '정종훈'
score = 4.1
a = '%d년도 보건의료행정과 %d학년 총 인원 수는 %d명 입니다. (교수: %s, 평균학점: %0.2f)' %(year, grade, number, prof, score)
print(a)

**format 함수 사용**
* "{}문자열".format(변수)
* f"{변수}문자열"

In [ ]:
year = 2023
grade = 4
number = 25
prof = '정종훈'
score = 4.1123124
a = '{}년도 보건의료행정과 {}학년 총 인원 수는 {}명 입니다. (교수: {}, 평균학점: {})'.format(year, grade, number, prof, round(score, 2))
print(a)

In [ ]:
year = 2023
grade = 4
number = 25
prof = '정종훈'
score = 4.1123124
a = f'{year}년도 보건의료행정과 {grade}학년 총 인원 수는 {number}명 입니다. (교수: {prof}, 평균학점: {round(score, 3)})'
print(a)

### Quiz. a, b 변수만 입력해서, 아래의 문장을 출력하시오.

a = 7

b = 8

"7 X 8 = 56"

In [ ]:
a = 7
b = 8
print('')
print('7 X 8 = 56') # 정답으로 인정 X

In [ ]:
# 정답
a = 7
b = 8
print('%d X %d = %d' %(a, b, a*b))
print('{} X {} = {}'.format(a, b, a*b))
print(f'{a} X {b} = {a*b}')

In [ ]:
# 정답
a = 7
b = 8
c = 56
print('%d X %d = %d' %(a, b, c))

### 2.5. 문자열 관련 함수
* 문자 개수 세기: count()
* 위치 알려주기: find(), index()
* 문자열 삽입: join()
* 문자열 나누기: split()
* 문자열 교체하기: replace()

In [ ]:
a = 'hello, my name is tom'
print(a.count('l'))
print(a.count('H'))
print(a.count(' '))

In [ ]:
a = 'hello, my name is tom'
print(a.find('y'))
print(a.index('y'))

In [ ]:
# 중복된 글자가 있는 경우에는 제일 앞에 글자의 위치만 알려준다!
a = 'hello, my name is tom'
print(a.find('m'))
print(a.index('m'))
print(a.count('m'))

In [ ]:
a = 'abcd'
b = ','
print(b.join(a))
print(','.join('abcd'))

In [ ]:
print(', '.join(['hello', 'my name is tom']))

In [ ]:
a = 'hello, my name is tom'
print(a.split(','))
print(a.split(' '))

In [ ]:
a = 'hello, my name is tom'
print(a.replace('tom', 'brad'))