<a href="https://colab.research.google.com/github/Pulsar-kkaturi/DL-Education/blob/master/Python_Lecture/Lecture05_Python-Basic2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 5. 파이썬 프로그래밍 기초 2. 자료형: 리스트, 튜플, 딕셔너리

## 1. 리스트

In [ ]:
a = [1,2,3,4]
b = ['a', 'b', 'c']
c = [1,2,'a','b']
d = [1,2,[1,2,3]]
print(a)
print(b)
print(c)
print(d)

[1, 2, 3, 4]
['a', 'b', 'c']
[1, 2, 'a', 'b']
[1, 2, [1, 2, 3]]

### 1.1. 인덱싱과 슬라이싱

In [ ]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [ ]:
print(a[1])

2

In [ ]:
print(a[-1])

3

In [ ]:
print(a[5]) # 범위를 벗어나는 인덱스를 넣으면 에러 발생

IndexError: ignored

In [ ]:
a = [[1,2],[3,4]]
print(a[0])
print(a[0][1])

[1, 2]
2

In [ ]:
# 슬라이싱
a = [1,2,3,4,5]
print(a[1:4])
print(a[:3])
print(a[-3:])

[2, 3, 4]
[1, 2, 3]
[3, 4, 5]

### 1.2. 리스트 연산하기
* 리스트 더하기
* 리스트 곱하기 (반복)
* 리스트 길이 구하기

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = a + b
d = b + a
print(c)
print(d)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

In [ ]:
e = a * 3
print(e)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
print(len(a))
print(len(c))
print(len(e))

3
6
9

In [ ]:
a = ['ㅜㅜ'] * 100
print(a)
print(len(a))

['ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ']
100

### 1.3. 리스트의 수정과 삭제

In [ ]:
 a = [1,2,3]
 print(a)

[1, 2, 3]

In [ ]:
print(a[1])
a[1] = 4 # 원하는 요소만 불러와서 변경 가능
print(a)

4
[1, 4, 3]

In [ ]:
a = [1,4,3]
print(a)

[1, 4, 3]

In [ ]:
a = ['ㅜㅜ'] * 100
a[55] = '^^'
print(a)

['ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', '^^', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ']

In [ ]:
a = [1,2,3,4,5]
del a[3]
print(a)

[1, 2, 3, 5]

### 1.4. 리스트 관련 함수들
* 리스트에 요소 추가(append)
* 리스트 정렬(sort)
* 리스트 뒤집기(reverse)
* 인덱스 반환(index)
* 리스트에 요소 삽입(insert)
* 리스트 요소 제거(remove)
* 리스트 요소 끄집어내기(pop)
* 리스트에 포함된 요소 x의 개수 세기(count)
* 리스트 확장(extend)

In [ ]:
# 리스트 추가하기
a = [1,2,3]
print(a)
a.append(4)
print(a)
a.append(5)
print(a)
a.append([6,7,8,9]) # 리스트를 추가하면 요소로 리스트가 추가된다!
print(a)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [ ]:
a = [5,7,1,4]
print(a)
a.sort() # 정렬 선언
print(a)

[5, 7, 1, 4]
[1, 4, 5, 7]

In [ ]:
a = [5,7,1,4]
print(a)
a.reverse()
print(a)

[5, 7, 1, 4]
[4, 1, 7, 5]

In [ ]:
a = [5,7,1,4]
print(a)
a.sort() # 정렬 후
a.reverse() # 뒤집기
print(a)

[5, 7, 1, 4]
[7, 5, 4, 1]

In [ ]:
a = [5,7,1,4]
print(a)
b = sorted(a) # 정렬된 새로운 리스트 선언
print(b)

[5, 7, 1, 4]
[1, 4, 5, 7]

In [ ]:
a = [5,7,1,4]
print(a)
b = sorted(a, reverse=True) # 역정렬된 새로운 리스트 선언
print(b)

[5, 7, 1, 4]
[7, 5, 4, 1]

In [ ]:
a = [1,4,5,7]
print(a.index(5))

2

In [ ]:
a = ['ㅜㅜ'] * 100
a[55] = '^^'
print(a)
print(a.index('^^'))
print(a.index('ㅜㅜ'))

['ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', '^^', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ']
55
0

In [ ]:
print(a.index('ㅠㅠ'))

ValueError: ignored

In [ ]:
a = [1, 4, 5, 7]
a.remove(4) # 삭제하고 싶은 실제 요소의 값을 적어줘야함
print(a)

[1, 5, 7]

In [ ]:
a = [1, 4, 5, 7]
a.pop() # pop은 그냥 적으면 무조건 마지막 요소를 날림
print(a)

[1, 4, 5]

In [ ]:
a = [1, 4, 5, 7]
a.pop(3) # 삭제하고 싶은 인덱스 값
print(a)

[1, 4, 5]

In [ ]:
a = ['ㅜㅜ'] * 100
a[55] = '^^'
print(a)
a.remove('^^')
print(a)

['ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', '^^', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ']
['ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ', 'ㅜㅜ']

In [ ]:
print(a.count('ㅜㅜ')) # 원하는 요소의 숫자를 세어줌

99

In [ ]:
a = [1,2,3]
a.extend([4,5,6]) # 리스트 더하기와 동일함
print(a)

[1, 2, 3, 4, 5, 6]

### Quiz. 

a = [1,2,3,9,4,5,6] 일때, 요소값 9를 삭제하고, 역순으로 정렬하여 출력하시오.

모범답안: [6,5,4,3,2,1]

In [12]:
a = [1,2,3,9,4,5,6]

a.remove(9)
a.sort()
a.reverse()
print(a)

[6, 5, 4, 3, 2, 1]

In [13]:
a = [1,2,3,9,4,5,6]

del a[3]
print(sorted(a, reverse=True))

[6, 5, 4, 3, 2, 1]

## 2. 튜플

### 2.1. 튜플 만들기

In [1]:
a = ()
b = (1)
c = (1,2,3)
d = (1, 2, 'a', 'b')
e = (1,2,(3,4,5))
print(a,b,c,d,e)

() 1 (1, 2, 3) (1, 2, 'a', 'b') (1, 2, (3, 4, 5))

In [3]:
# 튜플은 수정 및 삭제 등 요소값 변경이 불가능하다.
a = (1, 2, 5, 3)
print(a[2])
del a[2]

5

TypeError: ignored

In [4]:
a[2] = 4

TypeError: ignored

### 2.2. 튜플 다루기

In [5]:
t = (1,2,3,4,5)

In [6]:
# 튜플 인덱싱
print(t[0], t[2])

1 3

In [7]:
# 튜플 슬라이싱
print(t[1:4])

(2, 3, 4)

In [8]:
# 튜플 더하기
a = (1,2)
b = (3,4)
print(a+b)

(1, 2, 3, 4)

In [9]:
# 튜플 곱하기
a = (1,2,3) * 10
print(a)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [11]:
print(len(t))
print(len(a))

5
30

## 3. 딕셔너리

### 3.1. 딕셔너리의 정의

In [19]:
a = {'name' : '정종훈', 'number': 2022048, 'birth' : 19910612}
print(a['birth'])
print(a['name'])
b = {0: 'a', 1: 'b', 2: 'c'}
c = ['a', 'b', 'c']
print(b[0])
print(c[0])

19910612
정종훈
a
a

In [20]:
a = {'정종훈': [2022048, 19910612], '김철수': [2022049, 19900405]}
print(a['정종훈']) 
print(a['김철수'])

[2022048, 19910612]
[2022049, 19900405]

In [25]:
a = {'정종훈': {'num': 2022048, 'birth': 19910612}, '김철수': {'num': 2022049, 'birth': 19900405}}
print(a['정종훈']['num'])
print(a['김철수']['birth'])

2022048
19900405

### 3.2. 딕셔너리 값 추가 및 삭제

In [22]:
a = {'name' : '정종훈', 'number': 2022048, 'birth' : 19910612}
a['sex'] = 'male'
print(a)

{'name': '정종훈', 'number': 2022048, 'birth': 19910612, 'sex': 'male'}

In [23]:
del a['birth']
print(a)

{'name': '정종훈', 'number': 2022048, 'sex': 'male'}

### 3.3. 딕셔너리 관련 함수들

In [27]:
a = {'name' : '정종훈', 'number': 2022048, 'birth' : 19910612}
# key만 출력
print(a.keys())
print(list(a.keys()))

dict_keys(['name', 'number', 'birth'])
['name', 'number', 'birth']

In [29]:
# value만 출력
print(a.values())
print(list(a.values()))

dict_values(['정종훈', 2022048, 19910612])
['정종훈', 2022048, 19910612]

In [31]:
# key와 value를 동시에 보고 싶을때
print(a.items())
print(a)

dict_items([('name', '정종훈'), ('number', 2022048), ('birth', 19910612)])
{'name': '정종훈', 'number': 2022048, 'birth': 19910612}

In [32]:
# 딕셔너리 지우기
a.clear() 
print(a)

{}

In [33]:
# 딕셔너리 인덱싱
a = {'name' : '정종훈', 'number': 2022048, 'birth' : 19910612}
print(a['name'])
print(a.get('name'))

정종훈
정종훈

In [37]:
# 딕셔너리 안에 key 존재 여부 확인
print('name' in a)
print('weight' in a)

True
False

### Quiz. 
여러분의 이름과 학번을 딕셔너리로 만들고, 아래의 코드를 수정하여 출력하시오.

(* 힌트: 문자열 포매팅 참고)

모범답안. 저는 보건의료행정과 2023111222 정종훈입니다.

In [40]:
a = {'name': '정종훈', 'num': '2022048'}
print(f"저는 보건의료행정과 {a['num']} {a['name']}입니다.")
print("저는 보건의료행정과 {} {}입니다.".format(a['num'], a['name']))

저는 보건의료행정과 2022048 정종훈입니다.
저는 보건의료행정과 2022048 정종훈입니다.

# ETC

In [44]:
# 집합 자료형 (중복 제거)
a = [1,1,1,2,3,3,4]
print(a)
print(set(a))
b = 'hello'
print(b)
print(set(b))

[1, 1, 1, 2, 3, 3, 4]
{1, 2, 3, 4}
hello
{'l', 'o', 'e', 'h'}

In [47]:
# bool 자료형 (참 또는 거짓이 저장)
a = 10
print(a)
print(a > 5)
print(a < 5)

10
True
False