<a href="https://colab.research.google.com/github/Pulsar-kkaturi/DL-Education/blob/master/Python_Lecture/Lecture08_Python-def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 8. 함수

## 8.1. 함수의 구조

In [2]:
a = 212312425234236
b = 3423434524645
print(a+b)

215735859758881

In [6]:
def add(a, b):
  return a+b

In [7]:
print(add(12, 5))
print(add(13123, 12341))

17
25464

In [ ]:
def 함수명(변수1, 변수2):
  수행할 코드
  return 반환할 값

## 8.2. 함수의 형태
* 일반적인 함수(입력값과 반환값이 있는 함수)
* 입력값이 없는 함수
* 반환값이 없는 함수
* 입력값도 반환값도 없는 함수

In [18]:
def multiple(a, b):
  return a*b

multiple(3, 3)

9

In [19]:
def intro():
  return 'hello, my name is 정종훈'
print(intro())

hello, my name is 정종훈

In [20]:
def multiple1(a, b):
  print(a*b)

multiple(3, 3)

9

In [21]:
def intro1():
  print('hello, my name is 정종훈')

intro()

'hello, my name is 정종훈'

* 반환값이 있고 없고의 차이

In [73]:
def add1(a, b):
  print(a+b)

def add2(a, b):
  return a+b # 반환을 해야만 함수의 결과값을 다른 연산에도 사용할 수 있다.

In [77]:
a = 1
b = 1
#print(f"{a} + {b} = {add1(a,b)}")
print(f"{a} + {b} = {add2(a,b)}")

1 + 1 = 2

y = 2 X (a + b)

In [80]:
a = 2
b = 1
print(2*(add2(2, 1)))

6

In [81]:
c = add2(2, 1)
print(2*c)

6

* 반환값을 2개 이상 받을 수 있다.

In [82]:
a = 3
b = 1
print(f'숫자각 각각 {a}, {b}일때, 더한 결과는 {a+b}이고, 뺀 결과는 {a-b}이다.')

숫자각 각각 3, 1일때, 더한 결과는 4이고, 뺀 결과는 2이다.

In [84]:
def result(a, b):
  sum_result = a + b
  sub_result = a - b
  return sum_result, sub_result

In [85]:
c, d = result(3, 1)
print(f'숫자각 각각 {a}, {b}일때, 더한 결과는 {c}이고, 뺀 결과는 {d}이다.')

숫자각 각각 3, 1일때, 더한 결과는 4이고, 뺀 결과는 2이다.

## 8.3. 함수의 응용

In [22]:
for i in range(2, 10):
  for j in range(1, 10):
    print(multiple(i, j))

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [27]:
cls = {'20231111': '정종훈', '20231112': '박시온', '20231113': '김규연'}

def information(num):
  print(f'{cls[num]} 학생의 학번은 {num}이다.')

for key in cls.keys():
  information(key)

정종훈 학생의 학번은 20231111이다.
박시온 학생의 학번은 20231112이다.
김규연 학생의 학번은 20231113이다.

In [28]:
cls = {'20231111': '장종훈', '20231112': '박시온', '20231113': '김규연'}

for key in cls.keys():
  information(key)

장종훈 학생의 학번은 20231111이다.
박시온 학생의 학번은 20231112이다.
김규연 학생의 학번은 20231113이다.

In [29]:
a = 10
b = 20

In [30]:
a + b

30

In [31]:
a - b

-10

In [45]:
def operation(a, b, mode):
  if mode == '+':
    return a + b
  elif mode == '-':
    return a - b
  elif mode == 'x':
    return a * b
  elif mode == '/':
    return a/b
  elif mode == '^':
    return a**b
  elif mode == 'a':
    return a**2 + b
  else:
    return '올바른 모드를 입력하시오.'

In [46]:
operation(20, 30, 'a')

430

In [50]:
def operation(a, b, mode='+'): # 매개변수 기본값 지정
  if mode == '+':
    return a + b
  elif mode == '-':
    return a - b
  elif mode == 'x':
    return a * b
  elif mode == '/':
    return a/b
  elif mode == '^':
    return a**b
  elif mode == 'a':
    return a**2 + b
  else:
    return '올바른 모드를 입력하시오.'

In [49]:
print(operation(20, 30))
print(operation(30, 20, mode='-'))

50
10

In [54]:
def coffee_print(coffee, money):
  while money:
    money = money - 2500
    print(f'돈을 받았으니 커피를 줍니다!(현금 = {money})')
    coffee = coffee - 1
    print(f'남은 커피의 양은 {coffee}잔 입니다.')
    if coffee == 0:
      print('오늘 커피가 다 떨어졌습니다ㅠㅠ')
      break

In [55]:
coffee_print(100, 50000)

돈을 받았으니 커피를 줍니다!(현금 = 47500)
남은 커피의 양은 99잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 45000)
남은 커피의 양은 98잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 42500)
남은 커피의 양은 97잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 40000)
남은 커피의 양은 96잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 37500)
남은 커피의 양은 95잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 35000)
남은 커피의 양은 94잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 32500)
남은 커피의 양은 93잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 30000)
남은 커피의 양은 92잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 27500)
남은 커피의 양은 91잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 25000)
남은 커피의 양은 90잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 22500)
남은 커피의 양은 89잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 20000)
남은 커피의 양은 88잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 17500)
남은 커피의 양은 87잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 15000)
남은 커피의 양은 86잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 12500)
남은 커피의 양은 85잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 10000)
남은 커피의 양은 84잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 7500)
남은 커피의 양은 83잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 5000)
남은 커피의 양은 82잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 2500)
남은 커피의 양은 81잔 입니다.
돈을 받았으니 커피를 줍니다!(현금 = 0)
남은 커피의 양은 80잔 입니다.

In [61]:
def gugu(num):
  for j in range(1, 10):
    print(f'{num} X {j} = {num*j}')

In [63]:
gugu(3)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [65]:
for e in range(2,10,2):
  gugu(e)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

## Quiz.

아래의 결과에서 2번째 줄 아래를 함수로 바꿔보시오.
(for문 아래를 함수로 변경)

In [87]:
# 예제 결과 입니다.
scores = [72, 80, 99, 55, 61, 11, 12, 54]
for i in range(len(scores)):
  if scores[i] >= 70:
    result = '합격'
  else:
    result = '불합격'
  print(f'{i+1}번째 학생의 점수는 {scores[i]}점입니다.')

1번째 학생의 점수는 72점입니다.
2번째 학생의 점수는 80점입니다.
3번째 학생의 점수는 99점입니다.
4번째 학생의 점수는 55점입니다.
5번째 학생의 점수는 61점입니다.
6번째 학생의 점수는 11점입니다.
7번째 학생의 점수는 12점입니다.
8번째 학생의 점수는 54점입니다.

In [91]:
def quiz_func(num): # 함수 아래를 채워주세요.
  if num >= 70:
    return '합격'
  else:
    return '불합격'

In [93]:
scores = [72, 80, 99, 55, 61, 11, 12, 54]
for i in range(len(scores)):
  print(f'{i+1}번째 학생의 점수는 {quiz_func(scores[i])}입니다.')

1번째 학생의 점수는 합격입니다.
2번째 학생의 점수는 합격입니다.
3번째 학생의 점수는 합격입니다.
4번째 학생의 점수는 불합격입니다.
5번째 학생의 점수는 불합격입니다.
6번째 학생의 점수는 불합격입니다.
7번째 학생의 점수는 불합격입니다.
8번째 학생의 점수는 불합격입니다.